#moduleListTop, 
#moduleListBottom, 
#moduleListLeftInner,
#moduleListCenterInner,
#moduleListRightInner {
	padding: 5px;
	vertical-align: top;	
}

#moduleListTop, #moduleListBottom {
	min-height: 100px;
}

#moduleListLeftInner,
#moduleListCenterInner,
#moduleListRightInner {
	margin: 5px;
	min-height: 500px;
}

#moduleListLeftInner {
	margin-left: 0px !important;
}

#moduleListRightInner {
	margin-right: 0px !important;
}